<h1>Available Services</h1>

<% @services.each do |service| %>
  <div>
    <h2><%= service.service_name %></h2>
    <p><%= service.description %></p>
    <p><%= service.price %></p>
  </div>
<% end %>
