<div class="mainbox">

      <%= render "svgs/osama" %>
    <div class="rightbox">

    <div class="loginformbox boxbox" >
      <h1>New Service</h1>
      <%= render 'shared/new_service' %>
    </div>
    </div>

</div>
