// .booking-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 100%;
//   background-color: orange;
// }

.booking-bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
