// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.person-card {
  text-align: center;
  margin: 20px;
}

.person-card img {
  width: 200px; /* or fixed width, e.g., 200px */
  height: auto; /* maintain aspect ratio */
  border-radius: 10%; /* if you want round images */
  margin-bottom: -20%;
}

.person-card h3 {
  color: white;
}

.person-card button {
  background-color: #F2A156;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  width: 25%;
}

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the hero section */
.hero {
  text-align: center;
  padding: 50px;
}

/* Style the featured people section */


.person-card {
  text-align: center;
}

/* Style the testimonials section */
.testimonials blockquote {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  margin: 20px 0;
}

/* Style the gallery */
.friendship-gallery .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery img {
  width: 200px; /* Adjust as needed */
  margin: 10px;
}

/* Style the footer */
footer {
  background-color: #333; /* Dark background for the footer */
  color: white;
  padding: 20px;
  text-align: center;
}
// people service
.personimg{
  background-color: #F2A156;
  height: 250px;
}
.featured-people{
  display: flex;
  flex-direction: column;
  height: auto;

}
.servicespeople{
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

.person-card{
  width: auto;
  height: 150px;
}

// homebimg
.homeimage{
display: flex;
height: 700px;
width:100%;
background: url("https://images.pexels.com/photos/2609463/pexels-photo-2609463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-size: cover;
text-align: center;
justify-content: center;
flex-direction: column;
background-repeat: no-repeat;;
}
h2{
  color: white;
}

.container {
  max-width: none;  /* Remove any fixed max-width */
  width: 100%;
  --bs-gutter-x: none;

}
.homeimage {
  text-align: center;
  margin: 0 auto; /* Adjust as needed */
}
.shine{
  text-shadow: 0 0 20px #feeecb, 0 0 40px #b2e0f5;

}
// charecters
.charecters{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  background-color: rgb(245, 245, 245);
  text-align: center;
  // box-shadow: 0 0 5px #d6d6d6, 0 0 7px #ffecda;
  background-color: rgb(111, 113, 243);
  color: white;

  // -webkit-box-reflect:below
  //   1px linear-gradient(transparent, #0005);
  //   box-shadow: 0 0 5px #ffb15d, 0 0 15px #ffb15d, 0 0 15px #ffb15d, 0 0 20px #ffb15d;


}
.charecterstext{
  margin: 0 auto;
  text-align:start;
  padding: 100px;

}

// services1
.services1{
  height: 500px;
}
a{
  text-decoration: none;
}
