.container-fluid {
  padding: 0;
  height: auto;
  text-align: center;
}

.btn-orange {
  background-color: #f5923e;
  color: white;
}

.card-bg-color {
    background-color: #f5923e;
    color: white;
    border-radius: 5%;
    opacity: 0.9;
    height: 450px;
    box-shadow: 5px 5px 5px 0px #434343;
}

.index-img {
  border-radius: 5%;
  width: 100%;
}
