.service-card {
  display: flex;
  align-items: center;
}

.service-card img {
  width: 500px;
  height: 500px;
  border-radius: 1rem;
  margin-left: 4rem;
}

.service-content {
  margin-right: 4rem;
}

.service-subtitle {
  color: rgb(111, 113, 243);
}

.social-engagement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
