.service-card img {
  width: 500px;
  height: 500px;
  border-radius: 1rem;
}

.service-subtitle, .social-links {
  color: rgb(111, 113, 243);
}

.service-details {
  background-color: rgb(111, 113, 243);
  color: white;
}
