.container-fluid {
  padding: 0;
  height: auto;
}

.btn-orange {
  background-color: #f5923e;
  color: white;
}

.search-box {
  width: 70%; // Adjust as needed
}

.search-btn {
  margin-left: -2px;
}

.card-bg-color {
    background-color: rgb(111, 113, 243);
    color: white;
}

