<div class="bookingform">
  <%= simple_form_for [@service, @booking], wrapper: :vertical_form do |form| %>
    <div class="pickup">
      <div>
        <h3>start time</h3>
        <%= form.input :start_date, as: :string, required: true, input_html: { name: 'booking[start_date]', placeholder: 'YYYY/MM/DD', data: { controller: 'datepicker' } } %>
      </div>

      <div>
        <h3>end time</h3>
        <%= form.input :end_date, as: :string, required: true, input_html: { name: 'booking[end_date]', placeholder: 'YYYY/MM/DD', data: { controller: 'datepicker' } } %>
      </div>
    </div>

    <div class="bookbutton">
      <%= form.button :submit, 'Reserve', class: 'search-button' %>
    </div>
  <% end %>
</div>
