<div class="foot">
      <div class="colorbox" >
          <div class="orangebox">
                  <%= render "svgs/raj" %>
            <h1 class="footerh1">subscribe to find new friend</h1>
                <div class="input-group mt-3 w-50 mx-auto orangeinp">
                <input type="text" class="form-control" placeholder="serch services">
                <button class="btn  search-btn purplebtn" type="button">Search</button>
                </div>

          </div>
          <div class="purplebox">
                <div class="leftpurple">
                <div class="leftpurplecontent">
                <h1>friends</h1>
                <p>Our mission is to bring together individuals with common goals and interests,
                </p>
                </div>
                </div>
              <div class="listgroup">
                <ul> category
                <li> study together</li>
                <li>movie day</li>
                <li>cooking together</li>
                <li>art day</li>
                </ul>
               <ul> popular product
                <li>shoping togerther</li>
                <li>coffee talk</li>
                <li>friend with dog</li>
                <li>luxyry date</li>
                </ul>
                <ul> sitemap
                <li>product</li>
                <li>services</li>
                <li>article</li>
                <li>about us</li>
                </ul>
                <ul> follow us
                <li>facebook</li>
                <li>instagram</li>
                <li>tiktok</li>
                <li>youtube</li>
                </ul>
              </div>
          </div>
      </div>


</div>
