
<div class="container">
  <div class="homeimage">
        <h1 class="shine">friendship</h1>
        <h2 class="shine">can be beneficial</h2>
    </div>
      <section class="featured-people">
            <div class="charecters">
               <%= render "svgs/homegirl" %>
                  <div class="charecterstext">
                    <h1 >what we do?</h1>
                    <h4>At friends, we are dedicated to creating connections that matter.
                        Whether you're looking for study buddies, workout partners, or language exchange pals,
                        our platform is designed to facilitate meaningful and beneficial relationships.
                      <br>
                        Our mission is to bring together individuals with common goals and interests,
                        fostering a supportive community where members can share their skills and time for mutual benefit.
                      </h4>
                  </div>
            </div>
        <%# 6 dives for services %>
        <div class="services1">
          <%# delite and edit dives as you need  %>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

      </section>
      <!-- Repeat the above div for each person -->


</div>
