<div class="container">
  <div class="hero-sectiong">
    <header class="hero">
      <h1>Find your bestie</h1>
      <p>Enter your text to find best friend</p>
      <input type="search" placeholder="Search your friend...">
      <button>Search</button>
    </header>
  </div>
  <section class="featured-people">
    <%# 6 dives for services %>
    <div>
      <%# delite and edit dives as you need  %>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: services_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

  </section>
  <!-- Repeat the above div for each person -->


  <section class="testimonials">
    <h2>What Our Customer Say</h2>
    <blockquote>
      "Customer's testimonial."
      <cite>- Customer Name</cite>
    </blockquote>
    <!-- Repeat the above blockquote for each testimonial -->
  </section>

  <section class="friendship-gallery">
    <h2>Our friendship Gallery</h2>
    <div class="gallery">
      <%# <img src="path_to_image" alt="Gallery Image"> %>

      <!-- Repeat for each image -->
    </div>
  </section>

</div>



<%# previous section content %>
    <%# <h2>here is most interesting people around you</h2>
    <div class="servicespeople">
        <div class="person-card">
          <img class="personimg" src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
    </div>
    <div class="servicespeople">
          <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>

    </div> %>
