<div class="container">
  <div class="hero-sectiong">
    <header class="hero">
      <h1>Find your bestie</h1>
      <p>Enter your text to find best friend</p>
      <input type="search" placeholder="Search your friend...">
      <button>Search</button>
    </header>
  </div>

  <section class="featured-people">
    <h2>here is most interesting people around you</h2>
    <div class="servicespeople">
        <div class="person-card">
          <img class="personimg" src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
    </div>
    <div class="servicespeople">
          <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>
        <div class="person-card">
          <img src="https://thispersondoesnotexist.com" alt="Person Name">
          <h3>Person Name</h3>
          <button><i class="fa-solid fa-star"></i>5.0</button>
        </div>

    </div>

  <!-- Repeat the above div for each person -->
  </section>

  <section class="testimonials">
    <h2>What Our Customer Say</h2>
    <blockquote>
      "Customer's testimonial."
      <cite>- Customer Name</cite>
    </blockquote>
    <!-- Repeat the above blockquote for each testimonial -->
  </section>

  <section class="friendship-gallery">
    <h2>Our friendship Gallery</h2>
    <div class="gallery">
      <img src="path_to_image" alt="Gallery Image">

      <!-- Repeat for each image -->
    </div>
  </section>

</div>
