
.friendslogo:hover, .zoom:hover, .avatar:hover {
  transform: scale(1.1);
  cursor: pointer;
}
a {

  text-decoration: none; /* no underline */
}
// .sticky-navbar {
//   position: sticky;
//   top: 0;
//   z-index: 100;

// }
.container-fluid{
  width: 90%;
  height: 90px;

}

.divli{
  cursor: pointer;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80px;

}

.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}
.divli1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;


}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.friendslogo{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 166, 0);

}

.fa-user{
  color: orange;
  width: auto;
  // position: absolute;
  // margin-top: 10px;
}
.fasus{
  color: orange;
  position: absolute;
  right: 80px;
  top: 35px;
}
