// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// log in page
@import "sessions";


// @import "shared/footer";


// .body1{background-color: white;}
// .alert, .notice{
//   color: rgb(157, 157, 157);
//   font-size: 12px;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p {
	margin: 0;
	padding: 0;
	border: 0;
  scroll-behavior: smooth;
}
